<a href="https://colab.research.google.com/github/NINJAHATTORI004/ADVANCE_PYTHON3/blob/main/programmingfordataanalysis1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=[10, 20, 30,40,50]
s=pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [7]:
labels=["A","B","C","D","E"]
p=pd.Series(data, index= labels)
print(p)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [8]:
data={'Name':["a", "b","c"],
      "Age":[1,2,3],
      "Salary":[10,20,30]}
df=pd.DataFrame(data)
print(df)

  Name  Age  Salary
0    a    1      10
1    b    2      20
2    c    3      30

In [9]:
df=pd.DataFrame(data, index=["A",'B','C',])
print(df)

  Name  Age  Salary
A    a    1      10
B    b    2      20
C    c    3      30

In [12]:
print(df[["Name", "Salary"]])

  Name  Salary
A    a      10
B    b      20
C    c      30

In [14]:
df.loc["C"]

Name       c
Age        3
Salary    30
Name: C, dtype: object

In [15]:
df.iloc[1]

Name       b
Age        2
Salary    20
Name: B, dtype: object

In [16]:
df["Name"]

A    a
B    b
C    c
Name: Name, dtype: object

In [17]:
df["Department"]=["HR", "IT", "Finance"]
print(df)

  Name  Age  Salary Department
A    a    1      10         HR
B    b    2      20         IT
C    c    3      30    Finance

In [20]:
df.drop(columns=['Age'], inplace=True)
print(df)

  Name  Salary Department
A    a      10         HR
B    b      20         IT
C    c      30    Finance